/* body all */
* {
  box-sizing: border-box;
}

body {
   margin:0;
   color:#000000;
}

p {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    font-family: 'Poor Story', cursive;
    margin-left: auto;
    margin-right: auto;
}

a {
   font-size:16px;
   font-family: 'Poor Story', cursive;
}

a:link, a:visited {
   text-decoration:none;
   font-weight:bolder;
   color: #000000;
}

a:hover {
   color:#B1B1CC;
}

/* container start */

div #container {
   margin:0 auto;
}

div .item-style {
  float: left;
}

.text-field {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Poor Story', cursive;
  color: #000000;
}

.designer-text-field {
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Poor Story', cursive;
  color: #6e6e7f;
}

.sub-text {
   width: 100%;
   border: none;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 15px;
   color: #6e6e7f;
   font-family: 'Poor Story', cursive;
}

.text-registi {
   font-weight: bold;
   border: none;
   border-radius: 5px;;
   margin-top: 20px;
   font-size: 20px;
   color: #000000;
   font-family: 'Poor Story', cursive;
   float: left;
}

.text-login {
   font-weight: bold;
   border: none;
   border-radius: 5px;;
   margin-top: 20px;
   font-size: 20px;
   color: #000000;
   font-family: 'Poor Story', cursive;
   margin-left: auto;
   margin-right: auto;
}

.checkbox-registi {
   font-weight: bold;
   border: none;
   border-radius: 5px;;
   margin-top: 20px;
   font-size: 20px;
   color: #000000;
   font-family: 'Poor Story', cursive;
}
.category-list {
   list-style-type : none;
   display: inline-block;
}

.category-link {
   display: block;
   padding: 8px 20px;
   text-decoration: none;
   color: #333;
   font-size: 20px;
   font-family: 'Poor Story', cursive;
   margin-top:-1px;
}

.category-link:hover {
   color: #fff;
   background: #000;
   font-weight: bold;
}

#submit-btn {
   font-size: 20px;
   font-family: 'Poor Story', cursive;
    background-color: #000000;
   color: white;
   width: 100%;
   border-radius: 5px;
   padding: 10px;
   border: none;
}

#login-btn {
   font-size: 20px;
   font-family: 'Poor Story', cursive;
    background-color: #000000;
   color: white;
   width: 100%;
   border-radius: 5px;
   padding: 10px;
   border: none;
}

#submit-btn:hover {
   cursor:pointer;
}

#login-btn:hover {
   cursor:pointer;
}

#topbar {
    background-color: white;
    overflow: hidden;
}

#topbar :hover {
   color:#B1B1CC;
}

#topbar ul li {
    display: inline-block;
    float: right;
    line-height:60px;
}

#topbar ul li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    font-family: 'Sunflower', sans-serif;
}

#logo {
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}

#menubar {
   text-align: center;
}

.item-table {
  margin-left: auto;
   margin-right: auto;
}

.item-text {
  text-align: left;
  font-weight: bold;
   border: none;
   border-radius: 5px;;
   font-size: 20px;
   color: #000000;
   font-family: 'Poor Story', cursive;
   margin-left: 30px;
}

div.ad_1 {
   clear:both;
   background:#fff;
   text-align:center;
   padding:10px 0 5px 0;
   background:#e9eaed;
   border-radius:10px;
}

hr {
   margin-bottom: 0px;
   margin-top: 0px;
}
/* header end */

/* container end */

td {padding:5px;}
th{padding:5px;}

form {margin:0px;}
